body {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    padding-top: 50px;
    padding-bottom: 50px;
}

form {
    line-height: 60px;
    font-size: 18px;
}

div {
    background-color: rgba(233, 242, 238, 0.65);
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 25px;
    font-size: 22px;
    line-height: 28px;
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    line-height: 18px;
}

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 8px;
}

input[type=text] {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 18px;
    padding: 7px 12px;
    border: 2px solid rgb(193, 206, 227);
    background-color: rgba(0,0,0,0);
    width: 120px;
    outline: none;
}

input[type=text]:focus, input[type=text]:hover {
    background-color: rgb(193, 206, 227);
    color: rgb(255, 255, 255);
}

input[type=button], select, .button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0.8);
    border: 2px solid rgb(193, 206, 227);
    padding: 9px 18px;
    border-radius: 20px;
    cursor: pointer;
    float: center;
}

input[type=button]:hover, input[type=button]:active, select:hover, .button:hover, .button:active {
    background-color: rgb(193, 206, 227);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

input[type=button]:focus, .button:focus {
    outline: none;
}